body{
  background-color: black;
}
.middle{
  /* background-color: white; */
  height: 150px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

button{
  border-radius: 8px;
  height: 30px;
  background-color: orange;
  /* color:white; */
  font-weight: 400;
  border: none;
}
h1{
  color: aqua;
}