*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Gilory";
}

html{
        font-size: 62.5%;
    }
 body{
        font-size: 1.6rem;
    }

html, body {
    height: 100%;
    width: 100%;
}

nav{
    height: 8vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.searchBox{
    padding: 0.5vw;
    border: none;
    border-radius: 0.2vw;
    width: 15vw;
    caret-color: blue;
}
.searchBox:focus{
    outline: none;
}


.submitBtn{
    padding: 0.5vw;
    border: none;
    border-radius: 0.2vw;
    text-transform: uppercase;
    cursor: pointer;
}

.section{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 2vw;
}

.singleBox{
    display: flex;
    gap: 2vw;
    background-color: lightgray;
    width: fit-content;
    padding: 2vw;
    border-radius: 1vw;
}

.singleBox p{
    margin-left: 1vw;
}

.deleteBtn{
    border: none;
    padding: 0.2vw;
    border-radius: 0.2vw;
    margin-right: 1vw;
    cursor: pointer;
}


/* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 1vw;
    }

    .searchBox {
        width: 100%;
    }

    .submitBtn {
        width: 100%;
        text-align: center;
    }

    .section {
        padding: 1vw;
    }
}