body{
    background-color: black;
}
img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 40% 70%;
    border: 1px solid white;
    border-radius: 50%;
}

button{
    padding: 10px;
    margin-left: 270px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
}