body{
    padding: 20px;
}
.tabs{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    
}

.tab{
    padding: 10px 20px;
    background-color: rgb(241, 237, 237);
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
}

p{
    display: none;
}